:root {
    color:white;
    background-color: black;
}

ul#avalist li,
.custom-file-upload {
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 60px 60px;
}

ul#avalist div {
    display: block;
}
ul#avalist div:nth-child(n+2) {
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul#avalist div:nth-child(n+2):hover {
    background-color: #444;
}


.liloading {
    position: relative;
    overflow: hidden;
}
.liloading:before {
    display: block;
    content: '';
    height: 100%;
    width: var(--perc);
    background-color: #a71b1b80;
    position: absolute;
    z-index: 1;
}
.liloading div {
    z-index: 2;
}
#avalist li.liloading div:nth-child(2) {
    background: transparent;
    border: none;
    cursor: default;
}
#avalist li.liloading div:nth-child(3) {
    background: #930000;
}
#avalist li.liloading div:nth-child(3):hover {
    background: #be0000;
}

#avalist {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.main-con {
    display: grid;
}
.controls-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 60px) min-content;
    grid-template-areas: 
        "seekb pause play seekf"
        "reqURL reqURL sndb  loadingicon"
        "uiSW uiSW idSW idSW"
        "layoutCon layoutCon layoutCon layoutCon";
    
}

.controls-con * {
    background-color: #333;
    color: white;
    margin: 4px;
    border: 2px solid #767676;
    border-style: solid;
    border-radius: 5px;
}
.controls-con *:hover {
    background-color: #444;
}

#uiSW, #idSW {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
}
#uiSW > *, #idSW > * {
    padding: 0;
    border: none;
    margin: 0;
}
#uiSW > *:nth-child(1),
#idSW > *:nth-child(1) {
    grid-column: 1 / 3;
    background-color: #555;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#play  { grid-area: play  ;}
#pause { grid-area: pause ;}
#seekf { grid-area: seekf ;}
#seekb { grid-area: seekb ;}
#reqURL{ grid-area: reqURL;}
#sndb  { grid-area: sndb  ;}
#loadingicon {grid-area: loadingicon;}
#uiSW  { grid-area: uiSW;}
#idSW  { grid-area: idSW;}
#layoutCon {grid-area: layoutCon;}

#layoutCon {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    user-select: none;
}

.layTable td {
    height: 19px;
    width: 19px;
}
.layTable span {
    cursor: default;
}

#file-upload {
    display: none;
}
.custom-file-upload {
    cursor: pointer;
    width: max-content;
    display: block;
    margin: 10px;
}

.fileDrag {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    overflow: hidden;
    background-color: #000000c7;
    justify-content: center;
    align-items: center;
}

.fileDrag > * {
    font-size: 2cm;
    width: max-content;
    text-align: center;
    pointer-events: none;
}

@media only screen and (min-width: 900px) {
    .main-con {
        grid-template-columns: 240px 1fr;
    }  
}

/*Loading icon*/
.lds-dual-ring {
    display: inline-block;
    border: none;
    background-color: transparent;
}
.lds-dual-ring:hover {background-color: transparent;}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    margin: auto;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
