:root {
    --scale: 1;
    --pos-x: 0;
    --pos-y: 0;
    --dis-ui: block;
    color:white;
    background-color: black;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.bottomBar {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 99;
    display: var(--dis-ui);
}
.scale-sel {
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: max-content;
    padding: 20px;
    z-index: 99;
    display: var(--dis-ui);
}
.scale-v {
    width:  calc(var(--scale) * 100%);
    height: calc(var(--scale) * 100%);
    margin-left:calc(var(--pos-x) * -100vw );
    margin-top: calc(var(--pos-y) * -100vh );
}

#debug {
    background-color: #00000055;
    margin-bottom: .5em;
}

table#sqrPicker {
    background-color: #00000077;
}
table#sqrPicker, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}
#sqrPicker td {
    cursor: pointer;
    padding: 10px;
}
#td-sel {
    background-color: #77000077;
}

ul#avalist li {
    cursor: pointer;
    margin: 5px;
}

#lodgif {
    height: 1rem;
}

#seekSlider {
    width: 90vw;
    margin: auto;
}




/*Loading icon*/
.lds-dual-ring {
    display: inline-block;
    width: 1ch;
    height: 1ch;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1ch;
    height: 1ch;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}