:root {
    --scale: 1;
    --pos-x: 0;
    --pos-y: 0;
    --dis-ui: block;
    color:white;
    background-color: black;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

button {
    color: white;
    background-color: rgb(66, 66, 66);
}

.bottomBar {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 99;
    display: var(--dis-ui);
}
.scale-sel {
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: max-content;
    padding: 20px;
    z-index: 99;
    display: var(--dis-ui);
}
.scale-v {
    width:  calc(var(--scale) * 100%);
    height: calc(var(--scale) * 100%);
    margin-left:calc(var(--pos-x) * -100vw );
    margin-top: calc(var(--pos-y) * -100vh );
}

#debug {
    background-color: #00000055;
    margin-bottom: .5em;
}

table#sqrPicker {
    background-color: #00000077;
}
table#sqrPicker, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}
#sqrPicker td {
    cursor: pointer;
    padding: 10px;
}
#td-sel {
    background-color: #77000077;
}


.syncer {
    position: fixed;
    top: 0;
    right: 0;
    width: max-content;
    margin: 20px;
    padding: 10px;
    z-index: 99;
    display: var(--dis-ui);
    background-color: #77000077;
    border-radius: 15px;
}

.syncer > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;   
    --selection: 1;
}

.syncer > div > div {
    width: 2cm;
    height: 2cm;
    background-color: red;
    margin: 8px;
    border-radius: 5mm;
    border: 2px solid black;
    filter: opacity(0.1);
}
